<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.juli.Mac.mapper.inpectionBtSecretMapper">
	<resultMap id="BaseResultMap" type="com.cn.juli.Mac.model.inpectionBtSecret">
		<result column="index_id" property="indexId" jdbcType="INTEGER" />
		<result column="obu_surface_number" property="obuSurfaceNumber"
			jdbcType="VARCHAR" />
		<result column="bt_secret" property="btSecret" jdbcType="VARCHAR" />
		<result column="bt_statu" property="btStatu" jdbcType="INTEGER" />
	</resultMap>
	<!-- 通过合同号获取秘钥 -->
	<select id="selectBtSecret" resultType="String">
		select bt_secret from
		pr_inpection_bt_secret where
		obu_surface_number=#{obuContractNum}
	</select>
</mapper>